Data types and structures questions

1. what are the data structures, and why are they important?         
 :data structures are specialised formats for optimizing, storing, and managing data ina way that enables efficiant access and modification. for examples lists, tuples, dictionaries, and sets in pyhon. they are important because they optimize the performance of algorithms, allow for better data retrival, and help manage complexcity in programind tasks. choosing  the right data structure can significantly impact the efficiency and readibility of code.

2. Explain the difference between mutable and immutable data types with examples?         
: mutable data types can be change after creation. Ex- lists ([1, 2, 3]) and dictionaries ({"key"; "value"}). you can modifytheir content.
 Immutable data types cannot be changed and created. for ex- tuples((1, 2, 3)) and strings ("hello"). eery modifications can creates a new objects.

3. what are the main differences between lists and tuples?        
: lists are mutable, use [], and are slower; tuples are immutable, use(), and are faster.

4. describe how dictionaries store data?       
: dictionaries store data as key-value pairs using a hash table for quick lookups (e.g.,{"name":"Alice"}).      

5. why might you use a set instead of a list in python.      
: use sets when you need to store a collection of unique items and perform operations related to membership and set theory. Use lists when the order of elements is important and you may need to store duplicate values.

6. what is a string and its differences from a lists.      
: a string is an immutable character sequence (e.g.,"hello");unlike a list, its characters cannot be modified.

7. how do tuples ensure data integrity in python?         
: tuple ensure data integrity  by being immutable, preventing changes after creation.

8. what is a hash table,and how does it relate to dictionaries in python.      
:Imagine a library with many books. Instead of searching through every book to find the one you need, you use a catalog (hash table) that assigns each book a unique number (hash code) and tells you where it's located on the shelves (buckets). Dictionaries in Python work similarly, using hash tables to efficiently store and retrieve data.

9. can lists can contain different data types.     
: yes, lists can contain different data types (e.g., [1, "hello",3.14]).

10. explain why strings are immutable in python.       
: strings are immutable for eeficiancy, safety, and thread-safety, creating new objects for modifications.

11. what are advantages of dictionaries offer over lists for certain tasks.      
: dictionaries offer 0(1) key-based access , ideal for mappings, unlike lists'o(n) search.

12. describe a scenerio where a tuple is preferable over a list.        
: tuple preferable for fixed data like coordinates (x, y) to prevvent changes.

13. how do sets handle duplicate valuesin python.      
: in python the sets handle a duplicates storing only a unique values (e.g.,{1, 2, 2} becomes {1, 2}).         

14. how does the "in" keyword differently from lists and dictionaries.        
: "in" checks list elements (O(n)); checks dictionary keys (0(1)).

15. can you modify the elements of tuple? explain why or why not.       
: no, it cannot modified because the elements of tuples are immutable. this design choice prevents accidental changes, ensures data integrity, and allows tuples to be used as keys in dictionaries or elements in set.

16. what is a nested dictionary, and give an example of its use case?         
: a nested dictionary is a dictionary. for example: {"person": {"name": "alice", "age": 25}}.use case: storing hierarchical data, like a student's details within a class roster.

17. describe the time complexity of accessing elements in a dictionary.           
: accessing elements in adictionary has an average time complexity of O(1) due to the hash table implementation . however, it can degrade to O(n), though pythons hash function is designed to minimize this.

18. in what situations are lists are preffered over dictionaries?         
: lists are preferred when the order of elements matters, when you need to store a sequence of items without key-value associations, or when you frequently need to iterate over elements in a specific order. they are also simpler for homogeneos data.

19. why are dictionaries considered unordered, and how does that affect data retrieval?         
: dictionaries are considered unordered because their elements are stored based on hash values, noy a fixed sequence. this affects data retrieval by making it independent of order-access is by key, not index-resulting in fast O(1) lookups but requiring keys to be hashable.

20. explain the difference between a list and a dictionary in terms of data retrieval.        
: List: data retrieal is by indexs (e.g.,list[O], with O(1) for index access but O(n) for searching. order is preffered.
  Dictionary: data retrieal is by key (e.g.,dict["key"]), with O(1) average time complexity. order is not guaranteed (though python 3.7+ preseres insertion order), and keys must be unique.

 Practical questions

 1. write a code to create a string with your name and print it.     
 : name= "gursevak"

In [1]:
name = "gursevak"
print(name)

gursevak

2. write a code to find the length of string "hello world".     
: print(length)

In [2]:
text="hello world"
length=len(text)
print(length)

11

3. write a code to slice the first 3 characters from the string "python programming".       
:print(sliced_text)

In [3]:
text="python programming"
sliced_text=text[0:3]
print(sliced_text)

pyt

4. write a code to convert the string "hello" to uppercase.      
: print(upper_text)

In [4]:
text="hello"
upper_text=text.upper()
print(upper_text)

HELLO

5. write a code to replace the word "apple" with "orange" in the string "i like apple".       
: print(new_text)

In [5]:
text="i like apple"
new_text=text.replace("apple","orange")
print(new_text)

i like orange

6. write a code to create a list with numbers 1 to 5 and print it.      
: print(numbers)

In [6]:
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

7. write a code to append the number 10 to the list [1, 2, 3, 4].      
: print(numbers)

In [7]:
numbers=[1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8. write a code to remove the number 3 from the list [1, 2, 3, 4, 5].     
: print(numbers)

In [9]:
numbers=[1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9. write a code to access the second element in the list ['a', 'b', 'c', 'd',].        
: print(second_element)

In [10]:
letters=['a', 'b', 'c', 'd']
second_element=letters[1]
print(second_element)

b

10. write a code to reverse teh list [10, 20, 30, 40, 50].     
: same in the code section.

In [11]:
numbers=[10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

11. write a code to create a tuple with the elements 100, 200, 300 and print it.         
: in the code section

In [12]:
my_tuple=(100, 200, 300)
print(my_tuple)

(100, 200, 300)

 12. write a code to access the second-to-last elements of the tuple ('red', 'green', 'blue', 'yellow').       
 : in the code section.

In [13]:
my_tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13. write a code to find the minimum number in the tuple (10, 20, 5, 15).       
: bellow this.

In [14]:
my_tuple=(10, 20, 5, 15)
minimum=min(my_tuple)
print(minimum)

5

14. write a code to find the index of the element 'cat' in the tuple ('dog', 'cat', 'rabbit').        
: in the code section.

In [15]:
my_tuple=('dog', 'cat', 'rabbit')
index=my_tuple.index('cat')
print(index)

1

15. write a code to cfeate a tuple containing three different fruits and check if 'kiwi' is in it.       
:

In [16]:
my_tuple=('apple', 'banana', 'orange')
is_kiwi_in_tuple = 'kiwi' in my_tuple
print(is_kiwi_in_tuple)

False

16. write a code to create a set with the elements 'a', 'b', 'c' and print it.       
: in the code below from this.

In [17]:
my_set={'a', 'b', 'c'}
print(my_set)

{'a', 'c', 'b'}

17. write a code to clear all elements from the set {1, 2, 3, 4, 5}.      
:

In [18]:
my_set={1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

18. write a code to remove the elements 4 from the set {1, 2, 3, 4}.      
: below it in the code section

In [19]:
my_set={1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

19. write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.       
: in code.

In [20]:
set1={1, 2, 3}
set2={3, 4, 5}
union_set=set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20. write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
: in the code section.

In [21]:
set1= {1, 2, 3}
set2={2, 3, 3}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21. write a code to create a dictionary with the keys 'name', 'age', and 'city'and print it.      
: in the code section.

In [22]:
my_dict = {'name': 'Alice', 'age': 25, 'city': 'New York'}
print(my_dict)

{'name': 'Alice', 'age': 25, 'city': 'New York'}

22. write a code to add a new key-value pair 'country': 'USA' to the dictionary {'name':'john', 'age':25}.       
: code?

In [23]:
my_dict = {'name': 'john', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'john', 'age': 25, 'country': 'USA'}

23. write a code to access the value associated with the key 'name' in the dictionary {'name':'agice','age':30}.        
: in code section.

In [25]:
my_dict = {'name': 'Alice', 'age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24. write a code to remove the key 'age' from the dictionary {'name':'bob', 'age':22,'city:'new york'}.       
: in code section.

In [26]:
my_dict = {'name': 'bob', 'age': 22, 'city': 'New York'}
del my_dict['age']
print(my_dict)

{'name': 'bob', 'city': 'New York'}